---
import Title from '../atoms/Title.astro';
import './skills.css';
---

<section id="skills">
	<div class="terminal__skills">
		<p align="center">
			<img src="https://skillicons.dev/icons?i=git,java,angular,spring,mysql,aws,docker,jenkins,git,github,linux,kubernetes,nodejs,react,redux&perline=5&theme=dark" />
		</p>
	</div>
	<div class="text-content">
		<Title contenido="Skills" />
		<p>

			I am a skilled Software Engineer with a strong focus on backend development, particularly in Java and Spring Boot.
			I excel in building scalable microservices and implementing secure, high-performance solutions for complex systems.
			My experience extends to DevOps practices, including Docker, Kubernetes, and CI/CD pipelines with Jenkins. Additionally,
			I am proficient in modern frontend frameworks like React and Angular, allowing me to contribute to full-stack projects when needed.
			My expertise is complemented by a deep understanding of relational databases (MySQL, PostgreSQL) and cloud platforms like AWS, making me a
			versatile and reliable professional for end-to-end software solutions.
		</p>
	</div>
</section>
