#skills {
	display: flex;
	max-width: calc(var(--max-width) + 2.2rem);
	padding: 1.1rem;
	gap: 2.2rem;
	margin: 4rem auto;
}

#skills .text-content {
	max-width: 40%;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1.1rem;
}

#skills .terminal__skills {
	flex-basis: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

@media screen and (min-width: 1920px) {
	#skills img {
		width: 400px;
	}
}

@media screen and (max-width: 768px) {
	#skills {
		flex-direction: column-reverse;
	}
	#skills .text-content {
		max-width: 100%;
	}
}
