---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import "./about.css"


---

<section id="about" class="about">
	<div class="about__container">
		<img
			class="about__img"
			src="/img/little-guy2.jpg"
			alt="Foto de perfil de Ezequiel Falcon"
		/>

		<div class="about__content">
			<Title margin="1rem" contenido="About me" />
			<p class="about__text">
				I am a passionate Software Engineer with extensive experience in backend development, specializing in <b>Java</b>.
				I also have strong secondary skills in frontend frameworks like <b>React</b> and <b>Angular</b>. My expertise extends to DevOps practices,
				microservices, and cloud-based architectures. I have worked with top-tier companies like VISA, AstroPay, OpenPay, and Smartbear
				to deliver scalable and secure solutions.
			</p>
			<SocialIcons width="25" height="25"/>
		</div>
	</div>

</section>
