---
import Layout from "../layouts/Layout.astro";


---

<Layout title="About me">

    <h2>I am a passionate Software Engineer with extensive experience in backend development, specializing in Java. I also have strong secondary skills in frontend frameworks like React and Angular. My expertise extends to DevOps practices, microservices, and cloud-based architectures. I have worked with top-tier companies like VISA, OpenPay, and Smartbear to deliver scalable and secure solutions.</h2>
</Layout>